body {
    background: rgb(136, 136, 223);
}
main {
    position: relative;
    top: 50px;
    padding: 20px;
}

main img {
    padding: 0 0 20px 0;
}

.block {
    background: rgb(108, 108, 165);
    padding: 10px;
    margin-bottom:15px;
    align-content: center;
}

